@font-face {
  font-family: mainFont;
  src: url(main.otf);
}

@font-face {
  font-family: 'Oswald', sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
}

@font-face {
  font-family: "Radiance";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot");
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.ttf") format("truetype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance.svg#ywftsvg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Radiance-SemiBold";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot");
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.eot?#iefix") format("embedded-opentype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.ttf") format("truetype"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Reaver";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff2") format("woff2"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Reaver";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff2") format("woff2"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Reaver";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff2") format("woff2"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Reaver";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff2") format("woff2"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Reaver";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff2") format("woff2"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Reaver-Black.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Ravenhook";
  src: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Ravenhook.woff2") format("woff2"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Ravenhook.woff") format("woff"), url("https://cdn.cloudflare.steamstatic.com/apps/dota2/fonts/Ravenhook.ttf") format("truetype");
  font-style: normal;
}

title {
  font-family: mainFont;
}

.navbar {
  background-color: #0a1010;
}

.navbar .navbar-brand {
  font-family: mainFont;
}

.navbar .nav-item {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-color: #0a1010;
  color: white;
  font-family: secondaryFont;
}

body .home h1 {
  display: inline-block;
  padding-right: 10%;
  border-bottom: 5px solid #888;
}

body .home .card-news {
  width: 60%;
}

body .home .card-news:not(:first-child) {
  margin-top: 2rem;
}

body .home .card-news a {
  text-decoration: none;
  color: #EDEDED;
}

body .home .card-news a :hover {
  color: #EDEDED;
}

body .home .card-news a .card {
  background-color: #444444;
  font-family: secondaryFont;
}

body .login-form {
  font-family: secondaryFont;
  width: 30%;
  background-color: #9F2916;
  padding: 2rem;
  color: #0a1010;
}

body .login-form h1 {
  font-weight: bold;
}

body .login-form form .remember-me {
  color: #EDEDED;
}

body .login-form form .forgot {
  color: #EDEDED;
}

body .login-form .not-registered {
  color: #EDEDED;
}

body .leaderboard #outerContainer {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images//leaderboards/bg_repeat.jpg");
  background-repeat: repeat-y;
  background-position: top center;
}

body .leaderboard #outerContainer #contentContainer {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images//leaderboards/bg_top.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

body .leaderboard #outerContainer #contentContainer #content {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images//leaderboards/bg_top.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  width: 938px;
  min-height: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

body .leaderboard #outerContainer #contentContainer #content h1 {
  font-weight: normal;
  font-size: 36px;
  color: #b7b7b4;
  margin: 0;
  padding: 48px 0px 16px 0px;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table {
  margin-top: 6rem;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table table {
  border: 2px solid #3b3a38;
  margin: 0 auto;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-color: #3b3a38;
  border-right-color: #3b3a38;
  border-bottom-color: #3b3a38;
  border-left-color: #3b3a38;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table table tr {
  border: 2px solid #3b3a38;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table table td {
  border: 2px solid #3b3a38;
  text-align: left;
  color: #a4a4a4;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table table thead {
  display: table-header-group;
  vertical-align: middle;
  border: 2px solid #3b3a38;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table table tbody {
  display: table-row-group;
  vertical-align: middle;
  border: 2px solid #3b3a38;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .division {
  text-align: center;
  border: 2px solid #3b3a38;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .player {
  vertical-align: middle;
  text-align: left;
  width: 300px;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .rating {
  text-align: center;
  width: 75px;
  padding-right: 10px;
  vertical-align: middle;
  border: 2px solid #3b3a38;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .bracket {
  text-align: center;
  width: 75px;
  padding-right: 10px;
  vertical-align: middle;
  border: 2px solid #3b3a38;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .player_info {
  background-color: #181818;
  color: #5e5e5e;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .player_info .player_rank {
  text-align: center;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .player_info .team_tag {
  font-weight: normal;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .player_info .player_name {
  text-align: left;
  overflow: hidden;
  max-width: 300px;
  width: 300px;
  color: #d0d0d0;
  font-weight: 700;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .player_info .player_rating {
  text-align: center;
}

body .leaderboard #outerContainer #contentContainer #content .leaderboard-table .player_info .player_bracket {
  text-align: center;
}

body .leaderboard #bottomContainer_1 {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images//leaderboards/bg_bottom.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 524px;
}

body .leaderboard #bottomContainer_1 #bottomContainer_2 {
  background-image: url("https://cdn.cloudflare.steamstatic.com/apps/dota2/images//leaderboards/bg_bottom.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 524px;
  width: 938px;
}

body .player-info {
  color: #9F2916;
}

body .profile-photo {
  border: 0.5px solid #EDEDED;
}
/*# sourceMappingURL=app.css.map */